.home {
  /*background-color: whitesmoke;*/
  background-image: url("../Images/2.png");
  background-size: cover;
}

.title {
  font-size: 50px;
}

#AOTitle {
  text-align: center !important;
  justify-content: center !important;
}