.searchClass {
    background-image: url("../Images/8.png") !important;
    /*background-size: cover;*/
}

#Titulo {
    text-align: center;
    color: blueviolet;
    font-weight: bolder;
};

#buttonBusqueda {
    color: blueviolet !important ;
    border-color: blueviolet !important ;
}

.btn {
    background-color: blueviolet !important ;
    border-color: blueviolet !important ;
}; 